doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="_csrf", content="#{_csrf.token}")
    meta(name="_csrf_header", content="#{_csrf.headerName}")
    link(rel='stylesheet', type='text/css', href=assets.getVersionedResourceUrl("css/gulp/bundle#version.css"))
    link(rel="shortcut icon", type="image/x-icon", href="/img/gulp/logo.png")
    script(src='js/libs/jquery-1.11.3.js')
    script(src='js/src/welcome.js')
  body.body
    .container
      .container__landing
        .landing__images
          .landing__logo
          .landing__slogon
        .landing__message
          h1.landing__title
            | #{jm.getMessage('outsidelayout.string1')}
            br
            | #{jm.getMessage('outsidelayout.string2')}
          h2.landing__body
            | #{jm.getMessage('outsidelayout.string3')}
            br
            | #{jm.getMessage('outsidelayout.string4')}
            br
            | #{jm.getMessage('outsidelayout.string5')}
            br
            | #{jm.getMessage('outsidelayout.string6')}
            br
            | #{jm.getMessage('outsidelayout.string7')}
      block formsContainer
