extend insideLayout.jade

block links
  link(rel='stylesheet', type='text/css', href='css/src/account.css')
block scripts
  script(src='js/libs/jquery-1.11.3.js')
  script(src='js/src/account.js')
block userImgLink
  a(href='https://ru.gravatar.com/')
    img.userImg(src="#{avatar}")
block content
  form.workDiv(role='form', action='/account', method='POST', name='changesForm')
    input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
    .profileDiv
      .profileHeader Профиль
      .nameDiv
        label.labelName Имя
        if(changesForm.name==null)
          input#js-username.username(type='textbox', name='username', value='#{user.name}', maxlength='20')
        else if(changesForm.username!=user.username)
          input#js-username.username(type='textbox', name='username', value='#{changesForm.name}', maxlength='20')
        else
          input#js-username.username(type='textbox', name='username', value='#{user.name}', maxlength='20')
        if incorrectUsername
          #js-nameDiv.errorUsernameDiv
            span#js-name Некорректное имя
      .emailDiv
        label.labelEmail Адрес
        label.email#{user.email}
    .passwordDiv
      .passwordHeader Пароль
      .currentPassDiv
        label.labelCurrentPass Текущий пароль
        input#js-currentPass.currentPass(type='password', name='currentPass', value='#{changesForm.currentPass}')
        if incorrectPass
          #js-errorDiv.errorPassDiv.oldErrorPass
            span#js-oldPass Неверный пароль
        if curPassEqualsNewPass
          .errorPassDiv.oldErrorPass
            span#js-oldPass Пароли не должны совпадать
      .newPassDiv
        label.labelNewPass Новый пароль
        input#js-newPass.newPass(type='password', name='newPass', value='#{changesForm.newPass}')
        if patternFail
          #js-errorDiv.errorPassDiv.newErrorPass
            span#js-newPassErr Пароль слишком прост
    .themeDiv
      .themeHeader Дизайн
      .themes
        input#hidden(type='hidden', value=user.style, name='theme')
        #lightDen.theme.theme1.js-theme
        #darkDen.theme.theme2.js-theme
    button.submit.js-submit(type='submit') Сохранить изменения
