extend layouts/insideLayout.jade

block links
block userImgLink
  a(href='https://ru.gravatar.com/')
    img.header__userImg(src="#{avatar}")
block content
  form#js-accountInfo.accountInfo(role='form', action='/account', method='POST', name='changesForm')
    input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
    .accountInfo__section
      .accountInfo__section_profile Профиль
      .accountInfo__name
        label.section__label.section__label_name Имя
        if(changesForm.name==null)
          input#js-username.section__input.section__input_username(type='textbox', name='username', value='#{user.name}', maxlength='20')
        else if(changesForm.username!=user.name)
          input#js-username.section__input.section__input_username(type='textbox', name='username', value='#{changesForm.name}', maxlength='20')
        else
          input#js-username.section__input.section__input_username(type='textbox', name='username', value='#{user.name}', maxlength='20')
        if usernameError
          #js-nameDiv.section__nameError
            span#js-name #{usernameError}
      .accountInfo__email
        label.section__label.section__label_email Адрес
        label.email#{user.username}
    .accountInfo__section
      .accountInfo__section_password Пароль
      .accountInfo__currentPass
        label.section__label.section__label_currentPass Текущий пароль
        input#js-currentPass.section__input.section__input_currentPass(type='password', name='currentPass', value='#{changesForm.currentPass}')
        if currentPassError
          #js-errorDiv.section__passError.section__passError_old
            span#js-oldPass #{currentPassError}
        if incorrectPass
                  #js-errorDiv.section__passError.section__passError_old
                    span#js-oldPass #{incorrectPass}
        if curPassEqualsNewPass
          #js-errorDiv.section__passError.section__passError_old
            span#js-oldPass #{curPassEqualsNewPass}
      .accountInfo__newPass
        label.section__label.section__label_newPass Новый пароль
        input#js-newPass.section__input.section__input_newPass(type='password', name='newPass', value='#{changesForm.newPass}')
        if newPassError
          #js-errorDiv.section__passError.section__passError_new
            span#js-newPassErr #{newPassError}
        if patternFail
          #js-errorDiv.section__passError.section__passError_new
            span#js-newPassErr #{patternFail}
    .accountInfo__section
      .accountInfo__section_theme Дизайн
      .accountInfo__themes
        input#hidden(type='hidden', value=user.style, name='style')
        #lightDen.themes__theme.themes__theme_1.js-theme
        #darkDen.themes__theme.themes__theme_2.js-theme
    button.accountInfo__button.js-submit(type='submit') Сохранить изменения
