extend layouts/outsideLayout.jade
block formsContainer
  .container__welcomeForm
    form.welcomeForm__form.welcomeForm__form_forgot(role='form', action='/updatepass', method='POST', name='resetForm')
      .welcomeForm__formTitle.welcomeForm__formTitle_forgot Восстановление пароля
      input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
      input(type='hidden', name='token', value='#{token}')
      input(type='hidden', name='email', value='#{email}')
      input#js-regPass.welcomeForm__textbox(type='password', name='password', autocomplete='off', placeholder='Новый пароль', value='#{resetForm.password}')
      if passwordError
        .welcomeForm__error.loginError.resetPass
          span#js-regPassMess1 Пароль слишком прост
      input#js-regPass.welcomeForm__textbox(type='password', name='passwordRepeat', autocomplete='off', placeholder='Ещё раз', value='#{resetForm.password}')
      if passwordError
        .welcomeForm__error.loginError.resetPass
          span#js-regPassMess2 Пароли не совпадают
      button.welcomeForm__button(type='submit') Восстановить
