doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="_csrf", content="#{_csrf.token}")
    meta(name="_csrf_header", content="#{_csrf.headerName}")
    link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='css/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='css/telenote.css')
    script(src='js/jquery-1.11.3.js')
    script(src='js/jquery-ui.js')
    script(src='js/bootstrap.js')
    script(src='js/app.js')
    script(src='js/preventSelection.js')
    script(src='js/btnHandler.js')
    script(src='js/addNote.js')
    script(src="js/drag'n'drop.js")
    title Telenote
  body
    .container
      .headWrapper
        .logoDiv
          .logoImg
          .slogon
        .in-outMenu
          .logMenu
            a#username(href='/')
              .user#{username}
            a#logout(href='/logout') Выход
          .userImg
        .addNoteDiv
          .addNote
            img(src="img/addBtn.png")
          .statusDiv
            span.status Все заметки сохранены
            .minStatus
        #modal.modal
      .workDiv
        .noteDiv
          if !notes
            span#emptyList У вас нет заметок
          else
            for note in notes
              .cell(id=note.id)
                .content
                  textarea(name='text', maxlength='20000') #{note.text}
                .control
                  button.delBtn
                  .dropdown.dropup
                    button.dropdown-toggle.shaBtn(data-toggle='dropdown')
                    ul.dropdown-menu
                      li.dropdown-submenu
                        //label Владельцы:
                      //li.divider
                      li.dropdown-submenu
                        input.email_textbox(type='text', style="margin: 0 5px 0 5px;", value='', placeholder="Введите E-mail адресата")
                        input.email_btn(type="button", style="display: none;")
                        label.email_label(style="display: none;")
