doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="_csrf", content="#{_csrf.token}")
    meta(name="_csrf_header", content="#{_csrf.headerName}")
    link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='css/telenote.css')
    script(src='js/jquery-1.11.3.js')
    script(src='js/bootstrap.js')
    script(src='js/btnHandler.js')
    script(src='js/addNote.js')
    title Telenote
  body
    .container
      .headWrapper
        .logoDiv
          .logoImg
          .slogon
        .in-outMenu
          .logMenu
            a(href='/')
              span #{username}
            br
            a(href='/') Выход
          .userImg
            img(src='img/user.png')
        .addNote
        #modal.modal
      .workDiv
        .noteDiv
          for note in notes
            .cell(id=note.id)
              .content
                textarea(name='text') #{note.text}
              button.delBtn
              .dropdown.dropup
                button.dropdown-toggle.shaBtn(data-toggle='dropdown')
                ul.dropdown-menu
                  li.dropdown-submenu
                    a(href='#')
                      label Enter e-mail:&nbsp
                      input#email_textbox(type='text', name='textbox', value='')
              button.edBtn