doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="_csrf", content="#{_csrf.token}")
    meta(name="_csrf_header", content="#{_csrf.headerName}")
    link(rel='stylesheet', type='text/css', href='css/libCSS/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='css/myCSS/telenote.css')
    link(rel='stylesheet', type='text/css', href='css/myCSS/modal.css')
    link(rel='stylesheet', type='text/css', href='css/myCSS/'+user.style+'.css')
    script(src='js/jsLibs/jquery-1.11.3.js')
    script(src='js/jsLibs/jquery-ui.js')
    script(src='js/myJS/app.js')
    script(src='js/myJS/preventSelection.js')
    script(src='js/myJS/btnHandler.js')
    script(src='js/myJS/addNote.js')
    script(src="js/myJS/drag'n'drop.js")
    title Telenote
  body
    .container
      .headWrapper
        .logoDiv
          a(href='/telenote')
            .logoImg
            .slogon
        .in-outMenu
          .logMenu
            a#username(href='/account')
              .user#{user.username}
            a#logout(href='/logout') Выход
          a(href='/account')
            img.userImg(src="#{avatar}")
        .addNoteDiv
          .addNote
            img(src="img/addBtn.png")
          .statusDiv
            span.status Все заметки сохранены
            .minStatus
      .workDiv
        .noteDiv
          if !noteSections
            span#emptyList У вас нет заметок
          else
            for noteSection in noteSections.entrySet()
              if(noteSection.getKey()==null)
                p(class="pNoteSection", id="pMyNotes") Мои Заметки
              else
                p(class="pNoteSection") #{noteSection.getKey()}

              .noteSection(id="ns_#{noteSection.getKey()}")
                for note in noteSection.value
                  .cell(id=note.id)
                    .content #{note.text}
                    .control
                      button.shaBtn
                      button.delBtn
  .modalWindow
    .shareMainDiv
      .shareWrapper Поделиться с друзьями
      .shareMiddle
        .syncUsers
        .shareUser
          .shareUserImg.addShareUserImg
          .focusDiv
            input.addShareEmail(type='textbox', placeholder='Введите адрес')
            .shareActionDiv
              button.addShare
            label.shareMessage
    .shareFooter
      button#modalClose.shareAplay
  #overlay