doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="_csrf", content="#{_csrf.token}")
    meta(name="_csrf_header", content="#{_csrf.headerName}")
    link(rel='stylesheet', type='text/css', href='css/libCSS/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='css/myCSS/telenote.css')
    link(rel='stylesheet', type='text/css', href='css/myCSS/modal.css')
    link(rel='stylesheet', type='text/css', href='css/myCSS/'+user.style+'.css')
    script(src='js/jsLibs/jquery-1.11.3.js')
    script(src='js/jsLibs/jquery-ui.js')
    script(src='js/jsLibs/sockjs.min.js')
    script(src='js/jsLibs/stomp.min.js')
    script(src='js/myJS/app.js')
    script(src='js/myJS/noteSock.js')
    script(src='js/myJS/preventSelection.js')
    script(src='js/myJS/btnHandler.js')
    script(src='js/myJS/addNote.js')
    script(src="js/myJS/drag'n'drop.js")
    script(src="js/myJS/telenote.js")
    title Telenote
  body
    .container
      .headWrapper
        .logoDiv
          a(href='/telenote')
            .logoImg
            .slogon
        .in-outMenu
          .logMenu
            a#username(href='/account')
              .user#{user.name}
            a#logout(href='/logout') Выход
          a(href='/account')
            img.js-userImg.userImg(src="#{avatar}")
      .addNoteDiv
        .addNote
          img(src="img/addBtn.png")
      .infoDiv
        .statusDiv
          span.status Все заметки сохранены
          .minStatus
        .sortMenu
          .sortByUser
          .sortByDate
          .sortLabel Сортировать
      #js-actualSection.js-allSections.textNoteSection.actualSection(value="Actual")
        img.js-sectionPic.sectionPic(src="#")
        .js-sectionOwner.sectionOwner
          span
      .workDiv
        .noteDiv
          for noteSection in noteSections.entrySet()
            if(noteSection.getKey()==null)
              .js-section.js-allSections.textNoteSection
                img.js-sectionPic.sectionPic(src="#{avatar}")
                .js-sectionOwner.sectionOwner Мои заметки
                  span.js-span
            else
              .js-section.js-allSections.textNoteSection
                img.js-sectionPic.sectionPic(src="#{noteSection.value.get(0).userAvatar}")
                .js-sectionOwner.sectionOwner Общие с #{noteSection.value.get(0).usernameOfShareUser}
                  span.js-span  (#{noteSection.getKey()})
            .js-noteSection.noteSection(id="ns_#{noteSection.getKey()}")
              for note in noteSection.value
                .cell(id=note.id)
                  .content.clickable
                    #{note.text}
                  .control
                    button.delBtn
                    button.shaBtn
  .modalWindow
    .shareMainDiv
      .shareWrapper Поделиться с друзьями
      .shareMiddle
        .syncUsers
        .shareUser
          .shareUserImg.addShareUserImg
          .focusDiv
            input.addShareEmail(type='textbox', placeholder='Введите адрес')
            .shareActionDiv
              button.addShare
            label.shareMessage
    .shareFooter
      button#modalClose.shareAplay
  #overlay