extend layouts/insideLayout.jade

block links
  link(rel='stylesheet', type='text/css', href='css/lib/jquery-ui.css')
block scripts
  script(src='js/libs/jquery-1.11.3.js')
  script(src='js/libs/jquery-ui.js')
  script(src='js/libs/sockjs.min.js')
  script(src='js/libs/stomp.min.js')
  script(src='js/libs/jquery.md5.js')
  script(src='js/libs/twitter-flight-v1.5.0.js')
  script(src='js/mixins/data/ajaxData.js')
  script(src='js/mixins/data/checkMailData.js')
  script(src='js/mixins/ui/addShareUserAnimationUI.js')
  script(src='js/components/modalWindow.js')
  script(src='js/components/note.js')
  script(src='js/init/init.js')
  script(src='js/src/app.js')
  script(src='js/src/noteSock.js')
  script(src='js/src/deleteNote.js')
  script(src='js/src/textConverter.js')
  script(src='js/src/autosaver.js')
  //script(src='js/src/addShare.js')
  script(src='js/src/controlAnimate.js')
  script(src='js/src/subsituation.js')
  script(src='js/src/btnHandler.js')
  script(src='js/src/addNote.js')
  script(src="js/src/drag'n'drop.js")
  script(src="js/src/telenote.js")
block userImgLink
  a(href='/account')
    img.js-userImg.header__userImg(src="#{avatar}")
block content
  #js-addNote.page__addNote
    img(src="/img/gulp/addBtn.png")
  .page__status
    .page__statusTriangle
    #js-status.status__container.status__mainStatus Все заметки сохранены
    #js-minStatus.status__container.status__minStatus
  #js-actualSection.js-allSections.noteSpace__sectionInfo.noteSpace__sectionInfo_actual(value="Actual")
    img.js-sectionPic.sectionInfo__picture(src="/img/gulp/shareNotRegUser.png")
    .js-sectionOwner.sectionInfo__owner
      span
  #js-noteDiv.noteSpace
    for noteSection in noteSections.entrySet()
      if(noteSection.getKey()==null)
        .js-section.js-allSections.noteSpace__sectionInfo
          img.js-sectionPic.sectionInfo__picture(src="#{avatar}")
          .js-sectionOwner.sectionInfo__owner Мои заметки
            span.js-span
      else
        .js-section.js-allSections.noteSpace__sectionInfo
          img.js-sectionPic.sectionInfo__picture(src="#{noteSection.value.get(0).userAvatar}")
          .js-sectionOwner.sectionInfo__owner Общие с #{noteSection.value.get(0).usernameOfShareUser}
            span.js-span  (#{noteSection.getKey()})
      .js-noteSection.noteSpace__noteSection(id="ns_#{noteSection.getKey()}")
        for note in noteSection.value
          .js-note.noteSection__note(id=note.id)
            .js-content.noteSection__content.clickable
              #{note.text}
            .js-control.noteSection__control
              button.noteSection__delBtn.js-delBtn
              button.noteSection__shaBtn.js-shaBtn
block modal
  .js-modalWindow.modal
    .modal__content
      .modal__title Поделиться с друзьями
      .modal__info
        #js-syncUsers.modal__users
        .js-shareUser.modal__user
          .user__img.user__img_addUser
          .user__adding
            input#js-addShareEmail.user__input(type='textbox', placeholder='Введите адрес')
            .user__action
              button#js-addShare.user__button.user__button_add
            label#js-shareMessage
    .modal__footer
      button#js-modalClose.footer__button
  #js-overlay.modal__overlay
