doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="_csrf", content="#{_csrf.token}")
    meta(name="_csrf_header", content="#{_csrf.headerName}")
    link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='css/telenote.css')
    script(src='js/jquery-1.11.3.js')
    script(src='js/bootstrap.js')
    script(src='js/app.js')
    script(src='js/preventSelection.js')
    script(src='js/btnHandler.js')
    script(src='js/addNote.js')
    title Telenote
  body(onmousedown="return false", onselectstart="return false")
    .container
      .headWrapper
        .logoDiv
          .logoImg
          .slogon
        .in-outMenu
          .logMenu
            a(href='/')
              span #{username}
            br
            a(href='/logout') Выход
          .userImg
            img(src='img/user.png')
        .addNote
        #modal.modal
      .workDiv
        .noteDiv(id="non-selectable")
          for note in notes
            .cell(id=note.id)
              .content
                textarea(name='text', maxlength='20000') #{note.text}
              button.delBtn
              .dropdown.dropup
                button.dropdown-toggle.shaBtn(data-toggle='dropdown')
                ul.dropdown-menu
                  li.dropdown-submenu
                    a(href='#')
                      input#email_textbox(type='text', name='textbox', value='', placeholder="Введите E-mail адресата")
    script.
          document.getElementById("non-selectable").onmousedown = function (event) {
          event.stopPropagation();
          };
          document.getElementById("non-selectable").onselectstart = function (event) {
          event.stopPropagation();
          };