extend layouts/outsideLayout.jade
block formsContainer
  .container__welcomeForm
    form.welcomeForm__form(role='form', action='/signin', method='POST', name='signinForm')
      .welcomeForm__formTitle #{jm.getMessage('welcome.formtitle')}
      input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
      input#js-logText.js-logText.welcomeForm__textbox(type='textbox', name='username', placeholder='e-mail', value='#{username}', maxlength='30')
      if error
        .welcomeForm__error.js-loginError
          span#js-loginError #{jm.getMessage('welcome.loginerror')}
      input.welcomeForm__textbox.js-logPass(type='password', name='password', autocomplete='off', placeholder='#{jm.getMessage("welcome.passplaceholder")}', maxlength='30')
      button.welcomeForm__button.js-logSubmit(type='submit') #{jm.getMessage('welcome.signin')}
      .welcomeForm__href
        a.welcomeForm__href_color(href='/resetpass') #{jm.getMessage('welcome.forgetpass')}
  .container__welcomeForm
    form.welcomeForm__form(role='form', action='/signup', method='POST', name='signupForm')
      .welcomeForm__formTitle #{jm.getMessage('welcome.registration')}
      input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
      input#js-regEmail.welcomeForm__textbox(type='textbox', name='email', placeholder='e-mail', value='#{signupForm.email}', maxlength='30')
      if emailError
        .welcomeForm__error.welcomeForm__error_email.js-emailError
          span#js-regEmailMess #{jm.getMessage('welcome.emailerror')}
      if emailExists
        .welcomeForm__error
          span#js-regEmailMess #{jm.getMessage('welcome.emailexists')}
      input#js-regUsername.welcomeForm__textbox(type='textbox', name='username', placeholder='#{jm.getMessage("welcome.usernameplaceholder")}', value='#{signupForm.username}', maxlength='30')
      if usernameError
        .welcomeForm__error.welcomeForm__error_name.js-nameError
          span#js-regUsernameMess #{jm.getMessage('welcome.usernameerror')}
      input#js-regPass.welcomeForm__textbox(type='password', name='password', autocomplete='off', placeholder='#{jm.getMessage("welcome.passplaceholder")}', value='#{signupForm.password}', maxlength='30')
      if passwordError
        .welcomeForm__error.welcomeForm__error_password.js-passError
          span#js-regPassMess #{jm.getMessage('welcome.passpatternfail')}
      button.welcomeForm__button.js-regSubmit(type='submit') #{jm.getMessage('welcome.signup')}
