doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="_csrf", content="#{_csrf.token}")
    meta(name="_csrf_header", content="#{_csrf.headerName}")
    link(rel='stylesheet', type='text/css', href='css/myCSS/welcome.css')
    script(src='js/jsLibs/jquery-1.11.3.js')
    script(src='js/myJS/welcome.js')
  body
    .mainDiv
      .perfomanceDiv
        .imgDiv
          .logoImg
          .slogon
        .perfomanceMessage
          h1
            | Организуйте дела, идеи, мысли.
            br
            | Делитесь с друзьями.
          h2
            | Зарегистрируйтесь на TeleNote.
            br
            | Cоздавайте и редактируйте текстовые заметки.
            br
            | Записывайте мысли, идеи, дела, рецепты.
            br
            | Делитесь заметками с семьёй и друзьями.
            br
            | Ведите дела вместе.
      .logRegDiv
        .overlayLogin
        .loginDiv
          form.signinForm(role='form', action='/signin', method='POST', name='signinForm')
            span.formHead Вход
            input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
            .inputData
              input#js-logText(type='textbox', name='username', placeholder='e-mail', value='#{username}')
              if error
                .errorDiv.loginError
                  span#js-loginError Адрес и пароль не совпадают
              input(type='password', name='password', autocomplete='off', placeholder='пароль')
            button.loginSubmit(type='submit') Войти
        .overlayReg
        .regDiv
          form.signupForm(role='form', action='/signup', method='POST', name='signupForm')
            span.formHead Регистрация
            input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
            .inputData
              input#js-regEmail(type='textbox', name='email', placeholder='e-mail', value='#{signupForm.email}')
              if emailError
                .errorDiv.emailError
                  span#js-regEmailMess Неправильный адрес
              input#js-regUsername(type='textbox', name='username', placeholder='имя', value='#{signupForm.username}')
              if usernameError
                .errorDiv.nameError
                  span#js-regUsernameMess Неподходящее имя
              input#js-regPass(type='password', name='password', autocomplete='off', placeholder='пароль', value='#{signupForm.password}')
              if passwordError
                .errorDiv.passError
                  span#js-regPassMess Пароль слишком прост
            button.loginSubmit(type='submit') Зарегистрироваться